@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    width: 1990px;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: #F3F3F3;
    font-family: "Jost", sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 220px;
    width: 1280px;
    margin-bottom: 100px;
}

.list {
    background-color: white;
    width: 800px;
    height: 3000px;
    border-radius: 20px;
    box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 44px 59px 44px 59px;
}

.title_image {
    width: 660px;
}

.activity {
    display: flex;
    width: 192px;
    justify-content: space-between;
    margin-top: 10px;
}

.for_likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 28px;
    background-color: rgba(16, 16, 16, 0.34);
    border-radius: 20px;
    margin: 0;
    padding: 10px;
}

.heart {
    height: 16px;
}

.text_likes {
    font-size: 16px;
    color: white;
}

.for_comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102px;
    height: 28px;
    background-color: rgba(16, 16, 16, 0.34);
    border-radius: 20px;
    margin: 0;
    padding: 10px;
}

.star {
    height: 18px;
}

.count_comment {
    color: white;
    font-size: 16px;
}

span {
    color: #DBDBDB;
}