@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    width: 1990px;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: #F3F3F3;
    font-family: "Jost", sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 220px;
    width: 1280px;
    margin-bottom: 100px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: white;
    width: 800px;
    height: 3000px;
    border-radius: 20px;
    box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 44px 59px 44px 59px;
}

.title_image {
    width: 660px;
}