<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="../static/style/main_style.css">
</head>
<body>
    <header>
        <div class="menu">
            <div class="logotip">
                <p>Логотип</p>
            </div>
            <div class="container_search">
                <input type="text" placeholder="Найти рецепт" id="search" name="search" value="" class="search">
                <button class="lupa">Лупа</button>
            </div>
            <div class="container_page">
                <p>Рецепты</p>
            </div>
            <div class="container_page">
                <p>Статьи</p>
            </div>
            <div class="container_signin">
                <button class="signin">Войти</button>
            </div>
        </div>
    </header>    
    <main>
        <div>
            <p>Какие-то</p>
            <hr>
            <p>Категории</p>
            <hr>
            <p>Или</p>
            <hr>
            <p>Еще что-то</p>
            <hr>
        </div>
        <div class="for_recipe">
            <div class="recipe">
                <div class="foto">
                </div>
                <p class="name">Название рецепта</p>
                <p class="description">Краткое описание чтоб заинтересовать</p>
            </div>
            <div class="recipe">
                <div class="foto">
                </div>
                <p class="name">Название рецепта</p>
                <p class="description">Краткое описание чтоб заинтересовать</p>
            </div>
        </div>
        <div>
            <p>Какие-то</p>
            <hr>
            <p>Категории</p>
            <hr>
            <p>Или</p>
            <hr>
            <p>Еще что-то</p>
            <hr>
        </div>
    </main>
    <footer>
        <div class="in_footer">
            <div class="background_logo">
                <p>Логотип</p>
            </div>
            <hr class="vert">
            <div class="list">
                <p>Рецепты</p>
                <p>Статьи</p>
                <p>Главная</p>
                <p>О нас</p>
                <p>Найти рецепт</p>
            </div>
            <div class="list">
                <p>Избранное</p>
                <p>Опубликовать рецепт</p>
                <p>Настройки аккаунта</p>
                <p>Мои комментарии</p>
            </div>
            <div>
                <p>© 2026 Че то там</p>
                <p>Кто то там</p>
            </div>
        </div>
    </footer>
</body>
</html>