{% extends "header_footer.html" %}
{%block style%}
<link rel="stylesheet" href="../static/style/main_style.css">
{%endblock%}
{%block main%}
<div class="content">
    <div class="for_category">
        <p class="category">Категории</p>
        <a href="#"><img src="../static/media/arrow.svg" alt="arrow" class="arrow_category"></a>
    </div>
    <div class="for_cards">
        <div class="card">
            <div class="for_img">
                <div class="for_time">
                    <img src="../static/media/clock.svg" alt="clock" class="clock">
                    <p class="time">30 мин</p>
                </div>
            </div>
            <div class="text_block">
                <p class="name_recipe"></p>
                <p class="description_recipe"></p>
            </div>
        </div>
    </div>
</div>
{%endblock%}