{% extends "header_footer.html" %}
{%block style%}
<link rel="stylesheet" href="../static/style/recipe_style.css">
{%endblock%}
{%block main%}
<main>
    <div class="content">
        <div class="list">
            <img src="../static/media/puncake.svg" alt="image recipe" class="title_image">
            <div class="activity">
                <div class="for_likes">
                    <img src="../static/media/Heart 1.svg" alt="heart" class="heart">
                    <p class="text_likes">9.5K</p>
                </div>
                <div class="for_comment">
                    <img src="../static/media/Star.svg" alt="star" class="star">
                    <p class="count_comment">4.5<span>(115)</span></p>
                </div>
            </div>
            <div class="description">
                <p class="name_recipe">Панкейки</p>
                <p class="description_recipe">Один из самых популярных американских завтраков выглядит именно так. Пышные и чуточку пористые панкейки — это нечто среднее между оладьями и блинами. В них добавляют масло, которое делает панкейки особенно нежными. А обжаривают их на сухой сковороде. В Америке к панкейкам подают кленовый сироп, но его вполне можно заменить цветочным мёдом или любимым джемом.</p>
            </div>
            <div class="for_igredients">
                <p class="title">Ингредиенты</p>
                <div class="all_ingredients">
                    <div class="parametrs">
                        <p class="name_parametr">Пшеничная мука</p>
                        <p class="weight_parametr">200 г</p>
                    </div>
                    <div class="parametrs">
                        <p class="name_parametr">Сахар</p>
                        <p class="weight_parametr">40 г</p>
                    </div>
                    <div class="parametrs">
                        <p class="name_parametr">Куриное яйцо</p>
                        <p class="weight_parametr">1 шт</p>
                    </div>
                    <div class="parametrs">
                        <p class="name_parametr">Молоко</p>
                        <p class="weight_parametr">200 мл = 200 г</p>
                    </div>
                    <div class="parametrs">
                        <p class="name_parametr">Соль</p>
                        <p class="weight_parametr">1 г</p>
                    </div>
                    <div class="parametrs">
                        <p class="name_parametr">Оливковое масло</p>
                        <p class="weight_parametr">50 мл = 50 г</p>
                    </div>
                    <div class="parametrs">
                        <p class="name_parametr">Разрыхлитель теста</p>
                        <p class="weight_parametr">5 г</p>
                    </div>
                </div>
            </div>
            <div class="for_steps">
                <p class="title">Рецепт</p>
                <div class="step">
                    <p class="name_step">Шаг 1.</p>
                    <p class="description_step">Подготовьте все продукты, миксер и сковороду для блинов.</p>
                    <img src="../static/media/first_puncake.svg" alt="recipe" class="image_step">
                </div>
                <div class="step">
                    <p class="name_step">Шаг 2.</p>
                    <p class="description_step">Соедините все сухие ингредиенты, добавьте яйцо и перемешайте с помощью миксера. Добавьте молоко и масло и снова перемешайте миксером.</p>
                    <img src="../static/media/second_puncake.svg" alt="recipe" class="image_step">
                </div>
                <div class="step">
                    <p class="name_step">Шаг 3.</p>
                    <p class="description_step">Разогрейте сковороду и обжаривайте панкейки на среднем огне без масла.</p>
                    <img src="../static/media/three_puncake.svg" alt="recipe" class="image_step">
                </div>
                <div class="bon_appetit">
                    <p class="message">Приятного аппетита!</p>
                    <img src="../static/media/Smile.svg" alt="smile">
                </div>
            </div>
        </div>
        <div class="list_for_comments">
            <div class="caption">
                <p class="title_comment">Комментарии</p>
                <p class="count_comm">(115)</p>
            </div>
            <div class="stars_reviews">
                <img src="../static/media/goldenStar.svg" alt="star" class="golden_star">
                <p class="avg_reviews">4.5</p>
            </div>
            <div class="all_comments">
                <div class="just_comment">
                    <div class="icon"></div>
                    <div class="info_comment">
                        <p class="name">Мария</p>
                        <p class="comment">Очень вкусно получилось. Рекомендую.</p>
                        <p class="date">20.02.2025</p>
                    </div>
                </div>
                <div class="just_comment">
                    <div class="icon"></div>
                    <div class="info_comment">
                        <p class="name">Лера</p>
                        <p class="comment">Оливковое я заменила подсолнечным, я хотела приготовить панкейки а не мини блины.</p>
                        <p class="date">10.03.2025</p>
                    </div>
                </div>
                <div class="just_comment">
                    <div class="icon"></div>
                    <div class="info_comment">
                        <p class="name">Марк</p>
                        <p class="comment">Очень вкусные!!!</p>
                        <p class="date">18.10.2025</p>
                    </div>
                </div>
                <div class="just_comment">
                    <div class="icon"></div>
                    <div class="info_comment">
                        <p class="name">Мария</p>
                        <p class="comment">Очень вкусно получилось. Рекомендую.</p>
                        <p class="date">20.02.2025</p>
                    </div>
                </div>
                <div class="just_comment">
                    <div class="icon"></div>
                    <div class="info_comment">
                        <p class="name">Лера</p>
                        <p class="comment">Оливковое я заменила подсолнечным, я хотела приготовить панкейки а не мини блины.</p>
                        <p class="date">10.03.2025</p>
                    </div>
                </div>
                <div class="just_comment">
                    <div class="icon"></div>
                    <div class="info_comment">
                        <p class="name">Марк</p>
                        <p class="comment">Очень вкусные!!!</p>
                        <p class="date">18.10.2025</p>
                    </div>
                </div>
                <button class="get_all">Еще комментарии</button>
            </div>
            <div class="for_you_comment">
                <p class="title_comment">Напишите ваш отзыв</p>
                <input type="text" placeholder="Ввести комментарий..." class="input_comment">
                <button class="send">Отправить</button>
            </div>
        </div>
    </div>
</main>
{%endblock%}