{% extends "header_footer.html" %}
{%block style%}
<link rel="stylesheet" href="../static/style/recipe_style.css">
{%endblock%}
{%block main%}
<main>
    <div class="content">
        <div class="list">
            <img src="../static/media/puncake.svg" alt="image recipe" class="title_image">
            <div class="activity">
                <div class="for_likes">
                    <img src="../static/media/Heart 1.svg" alt="heart" class="heart">
                    <p class="text_likes">9.5K</p>
                </div>
                <div class="for_comment">
                    <img src="../static/media/Star.svg" alt="star" class="star">
                    <p class="count_comment">4.5<span>(115)</span></p>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}